html {
    font-size: 10px;
    background-color: #1F2937;
    background-size: cover;
}
  
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    row-gap: 100px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 100px;
}

.button {
    display: flex;
    color: white;
    height: 150px;
    width: 150px;
    border: 0.4rem solid black;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.output-field {
    display: flex;
    color: white;
    height: 150px;
    width: 675px;
    border: 0.4rem solid black;
    border-radius: 2rem;
}