html {
    font-size: 10px;
    background-color: #1F2937;
    background-size: cover;
}
  
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 50vw;
    align-items: center;
    justify-content: center;

    row-gap: 100px;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    flex-basis: 100%;
}

.button {
    display: flex;
    color: white;
    font-size: 25px;
    height: 150px;
    width: 150px;
    border: 0.4rem solid black;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.output-field {
    display: flex;
    flex: auto;
    font-size: 25px;
    background-color: white;
    height: 150px;
    min-width: 150px;
    border: 0.4rem solid black;
    border-radius: 2rem;

    justify-content: center;
    align-items: center;
}